<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   
	    "-//mybatis.org//DTD Mapper 3.0//EN"  
	    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	    
	    
	  <mapper namespace="com.woniu.dao.RoleMapper">
	  <select id="findOne" resultMap="ts">
	  	select * from role where rid=#{roleId}
	  </select>
	  <select id="findAll" resultMap="ts">
		  select * from role
	  </select>
	  <update id="update" parameterType="com.woniu.pojo.Role">
	  	update role set rname=#{roleName} where rid=#{roleId	}
	  </update>
	  <resultMap type="com.woniu.pojo.Role" id="ts">
	   			<id property="roleId" column="rid"/>
	  			<result property="roleName" column="rname"/>
	  </resultMap>
	  </mapper>